<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A PROPOS DE MOI!</h2>
                <hr class="light">
                <p class="text-faded">Je m’appelle Claude Chocu, je suis âgé de 20 ans. Je suis actuellement étudiant à L'Aigle pour l'entreprise MTB111 en première année de BTS SIO « Solutions Logicielles et Applications Métiers » Services Informatiques aux Organisations spécialité en Solutions d'Infrastructure, Systèmes et Réseaux.
                    Depuis mes 14ans, j’ai toujours été attiré par l’informatique, ce monde me fascine et s'agrandit de jour en jour. 
                    BAC PRO mekanik!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
