<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A PROPOS DE MOI!</h2>
                <hr class="light">
                <p class="text-faded">Je m’appelle Claude Chocu, j'ai 20 ans. Je suis actuellement étudiant à L'Aigle pour l'entreprise MTB111 en première année de BTS SIO (Services Informatiques aux Organisations).
                    Depuis mes 14ans, j’ai toujours été attiré par l’informatique, ce monde me fascine et s'agrandit de jour en jour. Après 3 années de baccalauréat profesionnel qui m'ont déplu pour le métier de mécanicien (Bac pro maintenance des véhicules
option A voitures particulières), je me suis donc porté vers cette branche.
                    !</p>
            </div>
        </div>
    </div>
</section>
